.Oscuro {
  /*background-color:DodgerBlue;*/
  text-align: center;
  border: 2px solid tomato;
  color: rgb(175, 50, 50);
  opacity: 0.3;
}

p {
  /*Los Elementos p*/

  border-left: 6px solid tomato;
  background-color: lightgrey;
  border-radius: 5px;
  width: 300px;
  margin: auto
}
body {
  /*background-color: lightblue;*/
  margin: 3rem;
}

div {
  background: rgba(0, 128, 0, 0.3); /* Green background with 30% opacity */
}
